<%- include("./../partials/head.ejs")%>


    <%- include("./../partials/nav.ejs")%>
        <section class="section-content padding-y">
            <div class="container">
                <h1 class="mt-4">Finaliação da compra</h1>
                <hr>
                <div class="row">
                    <main class="col-md-9">
                        <div class="card">

                            <table class="table table-borderless table-shopping-cart">
                                <thead class="text-muted">
                                    <tr class="small text-uppercase">
                                        <th scope="col">Produtos</th>
                                        <th scope="col" width="200">Quantidade</th>
                                        <th scope="col" width="120">Preço</th>
                                        <th scope="col" class="text-right" width="200"> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <input type="hidden" id="quantidadeTotal" value="<%=produtos.length%>">
                                    <%codItens.forEach((codIten,index)=>{%>
                                        <%produtos.forEach(produto=>{%>
                                            <%if(produto.id==codIten.produtoId){%>
                                                <tr>
                                                    <td>
                                                        <figure class="itemside">
                                                            <div class="row">

                                                                <%var imagem=imagens.find(imagem=> imagem.produtoId ==
                                                                    produto.id)%>
                                                                    <%if(imagem !=undefined){%>
                                                                        <div class="col-md-6"><img
                                                                                src="<%=imagem.imagem%>" class="ps-4"
                                                                                width="100" height="100">
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <figcaption class="info">
                                                                                <a href="#" class="title text-dark">
                                                                                    <%=produto.nome%>
                                                                                </a>
                                                                                <p class="text-muted small">Size: <%=
                                                                                        codIten.reflinha%>, Color:
                                                                                        <%= codIten.refcoluna%> <br>
                                                                                            Brand: Gucci
                                                                                </p>
                                                                            </figcaption>
                                                                        </div>
                                                                        <%}else{%>
                                                                            <img class="img-thumbnail"
                                                                                src="/img/null.png">
                                                                            <%}%>
                                                            </div>

                                                        </figure>
                                                    </td>
                                                    <td>
                                                        <input type="hidden" name="codIten" id="codIten<%=index%>"
                                                            value="<%=codIten.id%>">
                                                        <div class="col-md-12 mt-3">
                                                            <button class="btn btn-danger" data-index="<%=index%>"
                                                                id="btnMenos"
                                                                onclick="diminuir(this.dataset.index)">-</button>
                                                            <button class="btn btn-ligth" name="quantidade"
                                                                value="<%=codIten.quantidade%>" id="btnValor<%=index%>">
                                                                <%=codIten.quantidade%>
                                                            </button>
                                                            <button class="btn btn-success" data-index="<%=index%>"
                                                                id="btnMais"
                                                                onclick="adicionar(this.dataset.index)">+</button>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="price-wrap mt-3">
                                                            <var class="fs-5" id="price<%=index%>"
                                                                data-total="<%=codIten.precoTotalItem%>">
                                                                <%=codIten.precoTotalItem.toLocaleString('pt-br',{style: 'currency'
                                                                    , currency: 'BRL' })%>
                                                            </var><br>
                                                            <small class="text-muted fs-6" id="precoVenda<%=index%>"
                                                                data-valor="<%=codIten.precoUnit%>">
                                                                <%=codIten.precoUnit.toLocaleString('pt-br',{style: 'currency'
                                                                    , currency: 'BRL' })%> cada
                                                            </small>
                                                        </div> <!-- price-wrap .// -->
                                                    </td>
                                                    <td class="text-right">
                                                        <form action="/carrinho/remover/<%=codIten.id%>" id="deleteItem"
                                                            method="POST">
                                                            <button type="submit" class="btn btn-warning mt-4 ms-4"
                                                                onclick='return deleteItem();'> Remove</button>
                                                        </form>
                                                    </td>
                                                    <%}%>
                                                        <%})%>
                                                            <%})%>
                                                </tr>

                                </tbody>
                            </table>

                            <div class="card-body border-top">
                                <a href="/" class="btn btn-light">Escolher mais Itens</a>
                            </div>
                        </div> <!-- card.// -->

                        <div class="alert alert-success mt-3">
                            <p class="icontext"><i class="icon text-success fa fa-truck"></i> Delivery gratis 1-2
                                semanas</p>
                        </div>

                    </main> <!-- col.// -->
                    <aside class="col-md-3">
                        <div class="card mb-3">
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label>Tem coupom de desconto?</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="" placeholder="Coupon code">
                                            <span class="input-group-append">
                                                <button class="btn btn-primary">Aplicar</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div> <!-- card-body.// -->
                        </div> <!-- card .// -->
                        <div class="card">
                            <div class="card-body">
                                <dl class="dlist-align">
                                    <dt>Preço Total:</dt>
                                    <dd class="text-right" data-valor="<%=carrinho.precoTotal%>" id="precoTotal">
                                        <%=carrinho.precoTotal.toLocaleString('pt-br',{style: 'currency' ,
                                            currency: 'BRL' })%>
                                    </dd>
                                </dl>
                                <dl class="dlist-align">
                                    <dt>Desconto:</dt>
                                    <dd class="text-right">R$ 00,00</dd>
                                </dl>
                                <dl class="dlist-align">
                                    <dt>Valor Total:</dt>
                                    <dd class="text-right  h5" data-valor="<%=carrinho.precoTotal%>" id="valorTotal">
                                        <strong>
                                            <%=carrinho.precoTotal.toLocaleString('pt-br',{style: 'currency' ,
                                                currency: 'BRL' })%>
                                        </strong>
                                    </dd>
                                </dl>
                                <hr>
                                <a href="#" class="btn btn-primary form-control">Realizar Compra</a>
                                <hr>
                                <p class="text-center mb-3">
                                    <img src="/img/payments.png" height="26">
                                </p>

                            </div> <!-- card-body.// -->
                        </div> <!-- card .// -->
                    </aside> <!-- col.// -->
                </div>

            </div> <!-- container .//  -->
        </section>

        <%- include("./../partials/footer.ejs")%>
            <script>
                function deleteItem() {
                    return confirm("Tem certeza que deseja remover item da compra?")
                }
            </script>
            <script>

                function somarTotais() {
                    var quantidadeTotal = document.getElementById("quantidadeTotal").value
                    var precoTot = 0
                    for (var y = 0; y < quantidadeTotal; y++) {
                        var precoTotalItem = document.getElementById(`price${y}`).dataset.total

                        var precoTotAtual = document.getElementById("precoTotal").dataset.valor

                        precoTot = parseInt(precoTot) + parseInt(precoTotalItem)
                        document.getElementById("precoTotal").innerHTML = precoTot.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })
                        document.getElementById("precoTotal").dataset.valor = precoTot
                        document.getElementById("valorTotal").innerHTML = precoTot.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })
                        document.getElementById("valorTotal").dataset.valor = precoTot
                    }
                }
                function diminuir(x) {
                    var id = `btnValor${x}`
                    var quantidade = document.getElementById(id).innerHTML

                    var valor = document.getElementById(`precoVenda${x}`).dataset.valor


                    if (quantidade > 1) {
                        document.getElementById(id).innerHTML = parseInt(quantidade) - 1
                        document.getElementById(id).value = parseInt(quantidade) - 1

                        var qtd = document.getElementById(id).value
                        var preco = qtd * valor

                        document.getElementById(`price${x}`).innerHTML = preco.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })
                        document.getElementById(`price${x}`).dataset.total = parseFloat(preco)
                    }
                    somarTotais()
                }
                function adicionar(x) {
                    var id = `btnValor${x}`
                    var quantidade = document.getElementById(id).innerHTML

                    var valor = document.getElementById(`precoVenda${x}`).dataset.valor

                    if (quantidade >= 1) {
                        document.getElementById(id).innerHTML = parseInt(quantidade) + 1
                        document.getElementById(id).value = parseInt(quantidade) + 1

                        var qtd = document.getElementById(id).value
                        var preco = qtd * valor

                        document.getElementById(`price${x}`).innerHTML = preco.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })
                        document.getElementById(`price${x}`).dataset.total = preco
                    }
                    somarTotais()
                }
            </script>