<%- include("./../partials/head.ejs")%>


    <%- include("./../partials/nav.ejs")%>
        <section class="section-content padding-y">
            <div class="container">
                <h1 class="mt-4">Finaliação da compra</h1>
                <hr>
                <div class="row">
                    <main class="col-lg-9">
                        <div class="card">
                            <div class="row mt-3">
                                <input type="hidden" id="quantidadeTotal" value="<%=produtos.length%>">
                                <%codItens.forEach((codIten,index)=>{%>
                                    <%produtos.forEach(produto=>{%>
                                        <%if(produto.id==codIten.produtoId){%>
                                            <div class="col-4">
                                                <figure class="itemside">
                                                    <div class="row">
                                                        <%var imagem=imagens.find(imagem=>
                                                            imagem.produtoId==produto.id)%>
                                                            <%if(imagem !=undefined){%>
                                                                <div class="col-md-6 pe-0">
                                                                    <img src="<%=imagem.imagem%>" class="ps-0"
                                                                        width="100" height="100">
                                                                </div>
                                                                <div
                                                                    class="col-md-6 p-md-0 p-1 text-start ms-3 ms-md-0">
                                                                    <figcaption class="ms-2">
                                                                        <a href="#" class="title text-dark">
                                                                            <%=produto.nome%>
                                                                        </a>
                                                                        <p class="text-muted small">Size:
                                                                            <%= codIten.reflinha%>, <br> Color:
                                                                                <%= codIten.refcoluna%> <br>
                                                                        </p>
                                                                    </figcaption>
                                                                </div>
                                                                <%}else{%>
                                                                    <img class="img-thumbnail" src="/img/null.png">
                                                                    <%}%>
                                                    </div>

                                                </figure>
                                            </div>
                                            <div class="col-5">
                                                <div class="row">
                                                    <div class="col-md-6 text-center">
                                                        <input type="hidden" name="codIten" id="codIten<%=index%>"
                                                            value="<%=codIten.id%>">
                                                        <div class="row mt-3 ms-4 ms-md-0">
                                                            <div class="col-md-3 col-0"></div>
                                                            <div class="col-2 p-md-0 m-md-0 text-md-end">
                                                                <button class="btn btn-danger" data-index="<%=index%>"
                                                                    id="btnMenos"
                                                                    onclick="diminuir(this.dataset.index)">-</button>
                                                            </div>
                                                            <div class="col-4 p-md-0 m-md-0">
                                                                <button class="btn btn-ligth" name="quantidade"
                                                                    value="<%=codIten.quantidade%>"
                                                                    id="btnValor<%=index%>">
                                                                    <%=codIten.quantidade%>
                                                                </button>
                                                            </div>
                                                            <div class="col-2 p-md-0 m-md-0 text-md-start">
                                                                <button class="btn btn-success" data-index="<%=index%>"
                                                                    id="btnMais"
                                                                    onclick="adicionar(this.dataset.index)">+</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 text-center">

                                                        <div class="price-wrap mt-md-3 mt-5">
                                                            <var class="fs-md-5 fs-5" id="price<%=index%>"
                                                                data-total="<%=codIten.precoTotalItem%>">
                                                                <%=codIten.precoTotalItem.toLocaleString('pt-br',{style: 'currency'
                                                                    , currency: 'BRL' })%>
                                                            </var><br>
                                                            <small class="text-muted" id="precoVenda<%=index%>"
                                                                data-valor="<%=codIten.precoUnit%>">
                                                                <%=codIten.precoUnit.toLocaleString('pt-br',{style: 'currency'
                                                                    , currency: 'BRL' })%> UN
                                                            </small>
                                                        </div> <!-- price-wrap .// -->
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <form action="/carrinho/remover/<%=codIten.id%>"
                                                    id="deleteItem<%=index%>" method="POST">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <button type="button" data-index="<%=index%>"
                                                                class="btn btn-success mt-4 text-white order-2 order-md-1"
                                                                id="btnAtualizar<%=index%>" value="<%=codIten.id%>"
                                                                onclick="atualizar(this.dataset.index,this.value)">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                    height="16" fill="currentColor"
                                                                    class="bi bi-check-circle" viewBox="0 0 16 16">
                                                                    <path
                                                                        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                                    <path
                                                                        d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                                                                </svg>
                                                            </button>

                                                            <button type="submit"
                                                                class="btn btn-outline-danger mt-4 order-1 order-md-2"
                                                                onclick='return deleteItem();'>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                    height="16" fill="currentColor" class="bi bi-trash"
                                                                    viewBox="0 0 16 16">
                                                                    <path
                                                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                                    <path fill-rule="evenodd"
                                                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            <%}%>
                                                <%})%>
                                                    <%})%>

                            </div>

                            <div class="card-body border-top">
                                <a href="/" class="btn btn-light">Escolher mais Itens</a>
                            </div>
                        </div> <!-- card.// -->
                        <div class="modal fade" id="formasDePagamentos" aria-hidden="true"
                            aria-labelledby="formasDePagamentosLabel" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="formasDePagamentosLabel">Formas de pagamento</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-4">

                                                <div data-bs-target="#pixModal" data-bs-toggle="modal"
                                                    data-bs-dismiss="modal" class="card border-success formaPag">
                                                    <div class="card-header text-center text-success">
                                                        <dt>Transferencia PIX</dt>
                                                    </div>
                                                    <div class="card-body text-center">
                                                        <img src="/img/pix.png" class="img-fluid" width="60px"
                                                            height="60px" alt="">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4 my-md-0 my-3">
                                                <div onclick="mercadopago(this.id)" id="div"
                                                    class="card border-primary formaPag">
                                                    <div class="card-header text-center text-primary">
                                                        <dt>Mercado Pago</dt>
                                                    </div>
                                                    <div class="card-body text-center" id="mercadoPago">
                                                        <img src="/img/mercadopago.png" class="img-fluid" width="60px"
                                                            height="60px" alt="">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div data-bs-target="#entregaModal" data-bs-toggle="modal"
                                                    data-bs-dismiss="modal" class="card border-warning formaPag"
                                                    onclick="enderecoDeEntrega()">
                                                    <div class="card-header text-center text-warning">
                                                        <dt>Pagar na Entrega</dt>
                                                    </div>
                                                    <div class="card-body text-center">
                                                        <img src="/img/delivery.png" class="img-fluid" width="60px"
                                                            height="60px" alt="">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="pixModal" data-bs-backdrop="static" data-bs-keyboard="false"
                            aria-hidden="true" aria-labelledby="pixModalLabel" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="pixModalLabel">Transferencia PIX</h5>
                                    </div>
                                    <div class="modal-body text-center">
                                        <p class="text-muted">Apos efetuar o pagamento será necessario anexar o
                                            comprovante ou encaminhar para um de nossos <a href="#"> canais de
                                                atendimento ao cliente </a> para que seja efetivado mais rapido a sua
                                            entrega.</p>
                                        <div class="card border-success">
                                            <div class="card-header fs-3 fs-md-4 bg-transparent border-success">
                                                Davi Henrique de Almeida Reis
                                            </div>
                                            <div class="card-body">
                                                <h5>Tipo de Chave: <span class="badge bg-success">CPF</span></h5>
                                                <h5>Chave: <span class="badge bg-success">06210580335</span> </h5>
                                            </div>
                                        </div>
                                        <p class="text-muted">Escaneie o codigo abaixo para efetuar a transferencia</p>
                                        <input type="hidden" id="link"
                                            value="https://nubank.com.br/pagar/1kyr3m/VWHOFbtsho">
                                        <div class="mx-auto" id="qrcode"
                                            style="width:100px; height:100px; margin-top:15px;">
                                        </div>
                                        <!-- Olá Dev, não adianta fazer a alteração por aqui ;) -->
                                        <h4 class="mt-3">Valor Total: <span class="fw-bold text-decoration-underline"
                                                id="valorTotalPix"></span></h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary" data-bs-target="#comprovantePix"
                                            data-bs-toggle="modal" data-bs-dismiss="modal">Anexar comprovante</button>
                                        <button class="btn btn-warning text-white" data-bs-target="#formasDePagamentos"
                                            data-bs-toggle="modal" data-bs-dismiss="modal">Voltar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="comprovantePix"
                            aria-hidden="true" aria-labelledby="comprovantePix" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="pixModalLabel">Anexar Comprovante de Transferencia
                                        </h5>
                                    </div>
                                    <div class="modal-body text-center">
                                        <p class="text-muted">Anexar abaixo o comprovante de transferência para que sua
                                            entrega seja efetivada. Caso desejar o envio também pode ser feito nos
                                            nossos <a href="#"> canais de
                                                atendimento ao cliente </a></p>
                                        <input type="file" id="comprovanteFile" class="form-control">
                                        <input type="hidden" id="file">
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-success" onclick="pix()">Salvar</button>
                                        <button class="btn btn-warning text-white" data-bs-target="#pixModal"
                                            data-bs-toggle="modal" data-bs-dismiss="modal">Voltar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="entregaModal" data-bs-backdrop="static" data-bs-keyboard="false"
                            aria-hidden="true" aria-labelledby="entregaModalLabel" tabindex="-1">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="entregaModalLabel">Pagar na entrega</h5>
                                    </div>
                                    <div class="modal-body ">
                                        <p class="text-muted text-center">Para nossa segurança será necessario que seja
                                            anexado
                                            algumas informações. Para mais duvidas acesse um de nossos <a href="#">
                                                canais de
                                                atendimento ao cliente</a>.</p>
                                        <hr>
                                        <p class="text-muted text-center">Informe abaixo os dados solicitados</p>
                                        <div class="row">
                                            <div class="col-12">
                                                <label for="nome" class="form-label">Nome</label>
                                                <input type="text" id="nome" class="form-control" autocomplete="off">
                                            </div>
                                            <div class="col-md-6 col-12 mt-2">
                                                <label for="cpf" class="form-label">CPF</label>
                                                <input type="text" id="cpf" onblur="maskCPF(this.value)"
                                                    class="form-control">
                                            </div>

                                            <div class="col-md-6 col-12 mt-2">
                                                <label for="numero" class="form-label">Numero <a class="text-muted fs-6"
                                                        style="text-decoration: none;">(Whatsapp)</a></label>
                                                <input class="form-control" type="tel" id="phone" name="celular"
                                                    autocomplete="off" required onkeypress="mask(this, mphone);"
                                                    onblur="mask(this, mphone);" maxlength="15">
                                            </div>
                                            <div class="col-12  mt-2">
                                                <dt id="endereco"></dt>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" id="confirmaEndereco"
                                                        data-valor="false" value="" onclick="confirmacao()"
                                                        type="checkbox" id="flexSwitchCheckDefault">
                                                    <label class="form-check-label"
                                                        for="flexSwitchCheckDefault">Confirma endereço de
                                                        entrega</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary" onclick="pagarNaEntrega(this)">Enviar
                                            solicitação</button>
                                        <button class="btn btn-warning text-white" data-bs-target="#formasDePagamentos"
                                            data-bs-toggle="modal" data-bs-dismiss="modal">Voltar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-1">
                                        <input type="image" src="/img/entrega.png" width="50px" height="50px" alt="">
                                    </div>
                                    <div class="col-md-11">
                                        <h4 class="mb-4 mt-2">Local de entrega</h4>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-lg-4 mb-lg-2 col-md-6">
                                        <label for="cep" class="form-label">CEP</label>
                                        <input class="form-control mascCEP" size="10" maxlength="9" type="text" id="cep"
                                            name="cep" placeholder="Informe o CEP" autocomplete="off"
                                            onblur="pesquisacep(this.value);" required>
                                    </div>

                                    <div class="col-lg-4 mb-lg-2 col-md-6">
                                        <label for="numero" class="form-label">Numero</label>
                                        <input class="form-control" placeholder="Ex:6259" type="number" id="numero"
                                            name="numero" autocomplete="off" required>
                                    </div>

                                    <div class="col-lg-4 mb-lg-2 col-md-6">
                                        <label for="rua" class="form-label">Rua</label>
                                        <input class="form-control" type="text" id="rua" name="rua" autocomplete="off"
                                            size="60" required>
                                    </div>

                                    <div class="col-lg-4 mb-lg-2 col-md-6">
                                        <label for="bairro" class="form-label">Bairro</label>
                                        <input class="form-control" type="text" id="bairro" name="bairro" size="40"
                                            autocomplete="off" required>
                                    </div>

                                    <div class="col-lg-4 mb-lg-2 col-md-6">
                                        <label for="cidade" class="form-label">Cidade</label>
                                        <input class="form-control" size="40" type="text" id="cidade" name="cidade"
                                            autocomplete="off" required>
                                    </div>

                                    <div class="col-lg-4 mb-lg-2 col-md-6">
                                        <label for="uf" class="form-label">UF</label>
                                        <input class="form-control" size="2" type="text" id="uf" name="estado"
                                            autocomplete="off" required>
                                    </div>
                                    <input type="hidden" id="enderecoValidado" value="false">

                                    <div class="col-md-12">
                                        <label for="complemento" class="form-label mt-2">Complemento</label>
                                        <input class="form-control" size="2" type="text" id="complemento"
                                            name="complemento" autocomplete="off" required>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="position-fixed bottom-0 start-0 p-3 " style="z-index: 11">
                            <div id="liveToast" data-bs-delay="20000" class="toast hide" role="alert"
                                aria-live="assertive" aria-atomic="true">
                                <div class="toast-header">
                                    <img src="/img/logo.png" width="15px" height="15px" class="rounded me-2" alt="...">
                                    <strong class="me-auto">Ican</strong>
                                    <small id="small">Agora</small>
                                    <button type="button" class="btn-close" data-bs-dismiss="toast"
                                        aria-label="Close"></button>
                                </div>
                                <div class="toast-body" id="toastMsm">

                                </div>
                            </div>
                        </div>
                        <div class="mt-2" id="respostaEntrega">
                            <p class="icontext"><i class="icon text-success fa fa-truck"></i></p>
                        </div>

                    </main> <!-- col.// -->
                    <aside class="col-lg-3">
                        <div class="card mb-3">
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label>Tem coupom de desconto?</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="" placeholder="Coupon code">
                                            <span class="input-group-append">
                                                <button class="btn btn-primary">Aplicar</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div> <!-- card-body.// -->
                        </div> <!-- card .// -->
                        <div class="card">
                            <div class="card-body">
                                <dl class="dlist-align">
                                    <dt>Preço Total:</dt>
                                    <dd class="text-right" data-valor="<%=carrinho.precoTotal%>" id="precoTotal">
                                        <%=carrinho.precoTotal.toLocaleString('pt-br',{style: 'currency' ,
                                            currency: 'BRL' })%>
                                    </dd>
                                </dl>
                                <dl class="dlist-align">
                                    <dt>Desconto:</dt>
                                    <dd class="text-right" id="valorDesconto" data-valor="0">R$ 00,00</dd>
                                </dl>
                                <dl class="dlist-align">
                                    <dt>Frete:</dt>
                                    <dd class="text-right" id="valorFrete" data-valor="0">R$ 00,00</dd>
                                </dl>
                                <dl class="dlist-align">
                                    <!-- Olá Dev, não adianta fazer a alteração por aqui ;) -->
                                    <dt>Valor Total:</dt>
                                    <dd class="text-right  h5" data-valor="<%=carrinho.precoTotal%>" id="valorTotal">
                                        <strong>
                                            <%=carrinho.precoTotal.toLocaleString('pt-br',{style: 'currency' ,
                                                currency: 'BRL' })%>
                                        </strong>
                                    </dd>
                                </dl>
                                <hr>
                                <button onclick="finalizaCompra()" class="btn btn-primary form-control">Realizar
                                    Compra</button>
                                <hr>
                                <p class="text-center mb-3">
                                    <img src="/img/payments.png" height="26">
                                </p>

                            </div> <!-- card-body.// -->
                        </div> <!-- card .// -->
                    </aside> <!-- col.// -->
                </div>

            </div> <!-- container .//  -->
        </section>

        <%- include("./../partials/footer.ejs")%>
            <script src="/js/qrcode.js"></script>
            <script src="/js/carrinho.js"></script>
            <script src="/js/pesquisaCep.js"></script>

            <script src="/js/telefone.js"></script>


            <script>
                var qrcode = new QRCode(document.getElementById("qrcode"), {
                    width: 100,
                    height: 100
                });

                function makeCode() {
                    var elText = document.getElementById("link");

                    if (!elText.value) {
                        alert("Input a text");
                        elText.focus();
                        return;
                    }

                    qrcode.makeCode(elText.value);
                }

                makeCode();

                $("#link").
                    on("blur", function () {
                        makeCode();
                    }).
                    on("keydown", function (e) {
                        if (e.keyCode == 13) {
                            makeCode();
                        }
                    });
            </script>

            <script>
                async function entregaAdicionar() {
                    var resp = await axios.post("/entrega/adicionar/", { cep: cep.value, cidade: cidade.value, numero: numero.value, rua: rua.value, bairro: bairro.value, uf: uf.value })
                    if (resp.data.erro != 0) {
                        alert(resp.data.erro)
                        return false
                    }
                    return true
                }

                async function comprovantePix(file) {
                    var resp = await axios.post("/comprovante/pix", { comprovante: file })
                    if (resp.data.erro != 0) {
                        alert(resp.data.erro)
                        return false
                    } else {
                        return true
                    }
                }

                async function pix() {
                    var filesSelected = document.getElementById("comprovanteFile").files;
                    var file = document.getElementById("file")

                    if (filesSelected.length > 0) {
                        var fileToLoad = filesSelected[0];
                        var fileReader = new FileReader();
                        fileReader.onload = function (fileLoadedEvent) {
                            var srcData = fileLoadedEvent.target.result; // <--- data: base64
                            file.value = srcData;
                        }
                        fileReader.readAsDataURL(fileToLoad);

                        var entrega = await entregaAdicionar()

                        if (entrega) {
                            var comprovante = await comprovantePix(file.value)
                            if (comprovante) {
                                location.href = `/carrinho/finalizarCompra/1`
                            }
                        }
                    } else {
                        alert("Nenhum comprovante anexado!")
                    }
                }


                async function mercadopago(div) {
                    document.getElementById(div).setAttribute("onclick", "")
                    var mercadoPago = document.getElementById("mercadoPago")
                    mercadoPago.innerHTML = ['<div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status"><span class="visually-hidden"></span></div>'].join('')
                    var entrega = await entregaAdicionar()
                    if (entrega) {
                        location.href = `/carrinho/finalizarCompra/2`
                    }
                }

                function finalizaCompra() {
                    var cep = document.getElementById('cep')
                    var cidade = document.getElementById('cidade')
                    var numero = document.getElementById("numero")
                    var rua = document.getElementById("rua")
                    var bairro = document.getElementById("bairro")
                    var uf = document.getElementById("uf")
                    var enderecoValidado = document.getElementById('enderecoValidado')

                    if (cep.value == '' || cidade.value == '' || numero.value == '' || rua.value == '' || bairro.value == '' || uf.value == '' || enderecoValidado.value == 'false') {
                        alert("Informações referente a entrega estão incompletas ou inválidas")

                        if (numero.value == '') {
                            numero.classList.add("is-invalid")
                            numero.classList.remove("is-valid")
                        } else {
                            numero.classList.add("is-valid")
                            numero.classList.remove("is-invalid")
                        }
                    } else {
                        numero.classList.add("is-valid")
                        numero.classList.remove("is-invalid")
                        var formasDePagamentos = new bootstrap.Modal(document.getElementById("formasDePagamentos"), {});
                        formasDePagamentos.show();
                    }
                }

                function enderecoDeEntrega() {
                    var cep = document.getElementById('cep').value
                    var cidade = document.getElementById('cidade').value
                    var numero = document.getElementById("numero").value
                    var rua = document.getElementById("rua").value
                    var bairro = document.getElementById("bairro").value
                    var uf = document.getElementById("uf").value
                    var enderecoConcatenado = `CEP: ${cep}, ${rua} Nº${numero}, Bairro: ${bairro}, ${cidade} ${uf} `
                    var endereco = document.getElementById("endereco").innerHTML = enderecoConcatenado
                }
                function maskCPF(v) {
                    v = v.replace(/\D/g, "")                    //Remove tudo o que não é dígito
                    v = v.replace(/(\d{3})(\d)/, "$1.$2")       //Coloca um ponto entre o terceiro e o quarto dígitos
                    v = v.replace(/(\d{3})(\d)/, "$1.$2")       //Coloca um ponto entre o terceiro e o quarto dígitos
                    //de novo (para o segundo bloco de números)
                    v = v.replace(/(\d{3})(\d{1,2})$/, "$1-$2") //Coloca um hífen entre o terceiro e o quarto dígitos
                    document.getElementById("cpf").value = v
                }

                function confirmacao() {
                    var confirmaEndereco = document.getElementById("confirmaEndereco")
                    if (confirmaEndereco.dataset.valor == 'true') {
                        confirmaEndereco.dataset.valor = 'false'
                    } else {
                        confirmaEndereco.dataset.valor = 'true'
                    }
                }

                function pagarNaEntrega(button) {
                    button.disabled = true
                    var cpf = document.getElementById("cpf").value
                    var nome = document.getElementById("nome")
                    var numero = document.getElementById("phone")
                    var confirmaEndereco = document.getElementById(confirmaEndereco).dataset.valor

                    if (nome.value.split(" ").length > 0 && nome.value != '') {
                        nome.classList.add("is-valid")
                        nome.classList.remove("is-invalid")

                        if (numero.value != '' && numero.value.length > 14) {
                            numero.classList.remove("is-invalid")
                            numero.classList.add("is-valid")

                            if (confirmaEndereco.dataset.valor == 'true') {
                                axios.post('/solicitar/entrega', { nome: nome.value, numero: numero.value, cpf: cpf.value })
                            } else {
                                alert("Confirme o endereço de entrega informado!")
                                button.disabled = false

                            }
                        } else {
                            alert("Numero de celular menor que 14 digitos")
                            numero.classList.remove("is-valid")
                            numero.classList.add("is-invalid")
                            button.disabled = false
                        }

                    } else {
                        alert("Adicione NOME e SOBRENOME para melhor identifica-lo")
                        nome.classList.add("is-invalid")
                        nome.classList.remove("is-valid")
                        button.disabled = false
                    }
                }

            </script>

            <script>
                function zerarFrete() {
                    var valorFrete = document.getElementById("valorFrete")
                    var n = 00
                    valorFrete.dataset.valor = n
                    valorFrete.innerHTML = n.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })
                    somarTotais()
                }

                async function verificaCidade() {
                    zerarFrete()
                    var toastLiveExample = document.getElementById('liveToast')
                    var toast = new bootstrap.Toast(toastLiveExample)
                    toast.show()

                    var respostaEntrega = document.getElementById("toastMsm")
                    var valorFrete = document.getElementById("valorFrete")

                    respostaEntrega.innerHTML = ['<div class="spinner-border" role="status"><span class="sr-only"></span></div>'].join('');

                    var resp = await axios.get("/entrega/locais")
                    var cidadesEntrega = resp.data
                    var cit = document.getElementById("cidade").value
                    var bai = document.getElementById("bairro").value
                    var bairro = bai.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "")
                    var cidade = cit.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "")
                    if (cidade == '') {
                        cidade = 'local informado'
                    }
                    var entrega = await cidadesEntrega.find(cidadeEntrega => cidadeEntrega.cidade.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "") == cidade
                        && cidadeEntrega.bairro.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "") == bairro)

                    var entrega2 = await cidadesEntrega.find(cidadeEntrega => cidadeEntrega.cidade.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "") == cidade && cidadeEntrega.bairro == '')

                    if (entrega != undefined) {
                        respostaEntrega.innerHTML = ''
                        respostaEntrega.innerHTML = `Entrega para ${entrega.cidade} - ${entrega.bairro} disponivel!`
                        respostaEntrega.classList.add("bg-success")
                        respostaEntrega.classList.remove("bg-danger")
                        respostaEntrega.classList.add("text-white")
                        var delivery = entrega
                    } else if (entrega2 != undefined) {
                        respostaEntrega.innerHTML = ''
                        respostaEntrega.innerHTML = `Entrega para ${entrega2.cidade} disponivel!`
                        respostaEntrega.classList.add("bg-success")
                        respostaEntrega.classList.remove("bg-danger")
                        respostaEntrega.classList.add("text-white")
                        var delivery = entrega2
                    } else {
                        respostaEntrega.innerHTML = ''
                        respostaEntrega.innerHTML = `Entrega para ${cit} indisponivel!`
                        respostaEntrega.classList.add("bg-danger")
                        respostaEntrega.classList.remove("bg-success")
                        respostaEntrega.classList.add("text-white")
                        var cep = document.getElementById('cep')
                        cep.value = ''
                        cep.classList.remove('is-valid')
                        cep.classList.add('is-invalid')
                        document.getElementById('enderecoValidado').value = false
                    }
                    if (delivery != undefined) {
                        valorFrete.dataset.valor = parseFloat(delivery.preco)
                        valorFrete.innerHTML = parseFloat(delivery.preco).toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })
                        somarTotais()
                    } else {
                        zerarFrete()
                    }

                }


            </script>
            <script>
                function atualizar(index, codItem) {
                    var btn = `btnValor${index}`
                    var novaQuantidade = document.getElementById(btn).value
                    var codItem = codItem
                    axios.post("/carrinho/alterarValores", { novaQuantidade: novaQuantidade, codItem: codItem }).then(resp => {
                        if (resp.data.erro !== undefined) {
                            alert("Ocorreu um erro ao atualizar: " + resp.data.erro)
                        } else {
                            alert(resp.data.resp)
                        }
                    }).catch(err => {
                        console.log(err)
                    })
                }
            </script>