<%- include("./../partials/head.ejs")%>


    <%- include("./../partials/nav.ejs")%>
        <section class="section-content padding-y">
            <div class="container">
                <h1 class="mt-4">Finaliação da compra</h1>
                <hr>
                <div class="row">
                    <main class="col-md-9">
                        <div class="card">

                            <table class="table table-borderless table-shopping-cart">
                                <thead class="text-muted">
                                    <tr class="small text-uppercase">
                                        <th scope="col">Produtos</th>
                                        <th scope="col" width="200">Quantidade</th>
                                        <th scope="col" width="120">Preço</th>
                                        <th scope="col" class="text-right" width="200"> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <input type="hidden" id="quantidadeTotal" value="<%=produtos.length%>">
                                    <%codItens.forEach((codIten,index)=>{%>
                                        <%produtos.forEach(produto=>{%>
                                            <%if(produto.id==codIten.produtoId){%>
                                                <tr>
                                                    <td>
                                                        <figure class="itemside">
                                                            <div class="row">

                                                                <%var imagem=imagens.find(imagem=> imagem.produtoId ==
                                                                    produto.id)%>
                                                                    <%if(imagem !=undefined){%>
                                                                        <div class="col-md-6"><img
                                                                                src="<%=imagem.imagem%>" class="ps-4"
                                                                                width="100" height="100">
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <figcaption class="info">
                                                                                <a href="#" class="title text-dark">
                                                                                    <%=produto.nome%>
                                                                                </a>
                                                                                <p class="text-muted small">Size: <%=
                                                                                        codIten.reflinha%>, Color:
                                                                                        <%= codIten.refcoluna%> <br>
                                                                                            Brand: Gucci
                                                                                </p>
                                                                            </figcaption>
                                                                        </div>
                                                                        <%}else{%>
                                                                            <img class="img-thumbnail"
                                                                                src="/img/null.png">
                                                                            <%}%>
                                                            </div>

                                                        </figure>
                                                    </td>
                                                    <td>
                                                        <input type="hidden" name="codIten" id="codIten<%=index%>"
                                                            value="<%=codIten.id%>">
                                                        <div class="col-md-12 mt-3">
                                                            <button class="btn btn-danger" data-index="<%=index%>"
                                                                id="btnMenos"
                                                                onclick="diminuir(this.dataset.index)">-</button>
                                                            <button class="btn btn-ligth" name="quantidade"
                                                                value="<%=codIten.quantidade%>" id="btnValor<%=index%>">
                                                                <%=codIten.quantidade%>
                                                            </button>
                                                            <button class="btn btn-success" data-index="<%=index%>"
                                                                id="btnMais"
                                                                onclick="adicionar(this.dataset.index)">+</button>
                                                        </div>

                                                    </td>
                                                    <td>
                                                        <div class="price-wrap mt-3">
                                                            <var class="fs-5" id="price<%=index%>"
                                                                data-total="<%=codIten.precoTotalItem%>">
                                                                <%=codIten.precoTotalItem.toLocaleString('pt-br',{style: 'currency'
                                                                    , currency: 'BRL' })%>
                                                            </var><br>
                                                            <small class="text-muted fs-6" id="precoVenda<%=index%>"
                                                                data-valor="<%=codIten.precoUnit%>">
                                                                <%=codIten.precoUnit.toLocaleString('pt-br',{style: 'currency'
                                                                    , currency: 'BRL' })%> cada
                                                            </small>
                                                        </div> <!-- price-wrap .// -->
                                                    </td>
                                                    <td class="text-right">

                                                        <form action="/carrinho/remover/<%=codIten.id%>"
                                                            id="deleteItem<%=index%>" method="POST">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <button type="button" data-index="<%=index%>"
                                                                        class="btn btn-info mt-4 text-white"
                                                                        id="btnAtualizar<%=index%>"
                                                                        value="<%=codIten.id%>"
                                                                        onclick="atualizar(this.dataset.index,this.value)">Atualizar</button>
                                                                    <button type="submit" class="btn btn-warning mt-4"
                                                                        onclick='return deleteItem();'> Remove</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </td>
                                                    <%}%>
                                                        <%})%>
                                                            <%})%>
                                                </tr>

                                </tbody>
                            </table>

                            <div class="card-body border-top">
                                <a href="/" class="btn btn-light">Escolher mais Itens</a>
                            </div>
                        </div> <!-- card.// -->

                        <div class="card mt-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-1">
                                        <input type="image" src="/img/entrega.png" width="50px" height="50px" alt="">
                                    </div>
                                    <div class="col-md-11">
                                        <h4 class="mb-4 mt-2">Local de entrega</h4>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-2">
                                        <label for="cep" class="form-label">CEP</label>
                                        <input class="form-control mascCEP" size="10" maxlength="9" type="text" id="cep"
                                            name="cep" placeholder="Informe o CEP" autocomplete="off"
                                            onblur="pesquisacep(this.value);verificaCidade();" required>
                                    </div>

                                    <div class="col-md-2">
                                        <label for="numero" class="form-label">Numero</label>
                                        <input class="form-control" placeholder="Ex:6259" type="number" id="numero"
                                            name="numero" autocomplete="off" required>
                                    </div>

                                    <div class="col-md-2">
                                        <label for="rua" class="form-label">Rua</label>
                                        <input class="form-control" type="text" id="rua" name="rua" autocomplete="off"
                                            size="60" required>
                                    </div>

                                    <div class="col-md-2">
                                        <label for="bairro" class="form-label">Bairro</label>
                                        <input class="form-control" type="text" id="bairro" name="bairro" size="40"
                                            autocomplete="off" required>
                                    </div>

                                    <div class="col-md-2">
                                        <label for="cidade" class="form-label">Cidade</label>
                                        <input class="form-control" size="40" type="text" id="cidade" name="cidade"
                                            autocomplete="off" required>
                                    </div>

                                    <div class="col-md-2">
                                        <label for="uf" class="form-label">UF</label>
                                        <input class="form-control" size="2" type="text" id="uf" name="estado"
                                            autocomplete="off" required>
                                    </div>
                                    <input type="hidden" id="enderecoValidado" value="false">

                                    <div class="col-md-12">
                                        <label for="complemento" class="form-label mt-2">Complemento</label>
                                        <input class="form-control" size="2" type="text" id="complemento"
                                            name="complemento" autocomplete="off" required>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="position-fixed bottom-0 start-0 p-3 " style="z-index: 11">
                            <div id="liveToast" data-bs-delay="20000" class="toast hide" role="alert"
                                aria-live="assertive" aria-atomic="true">
                                <div class="toast-header">
                                    <img src="/img/logo.png" width="15px" height="15px" class="rounded me-2" alt="...">
                                    <strong class="me-auto">Ican</strong>
                                    <small id="small">Agora</small>
                                    <button type="button" class="btn-close" data-bs-dismiss="toast"
                                        aria-label="Close"></button>
                                </div>
                                <div class="toast-body" id="toastMsm">

                                </div>
                            </div>
                        </div>
                        <div class="mt-2" id="respostaEntrega">
                            <p class="icontext"><i class="icon text-success fa fa-truck"></i></p>
                        </div>

                    </main> <!-- col.// -->
                    <aside class="col-md-3">
                        <div class="card mb-3">
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label>Tem coupom de desconto?</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="" placeholder="Coupon code">
                                            <span class="input-group-append">
                                                <button class="btn btn-primary">Aplicar</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div> <!-- card-body.// -->
                        </div> <!-- card .// -->
                        <div class="card">
                            <div class="card-body">
                                <dl class="dlist-align">
                                    <dt>Preço Total:</dt>
                                    <dd class="text-right" data-valor="<%=carrinho.precoTotal%>" id="precoTotal">
                                        <%=carrinho.precoTotal.toLocaleString('pt-br',{style: 'currency' ,
                                            currency: 'BRL' })%>
                                    </dd>
                                </dl>
                                <dl class="dlist-align">
                                    <dt>Desconto:</dt>
                                    <dd class="text-right">R$ 00,00</dd>
                                </dl>
                                <dl class="dlist-align">
                                    <dt>Valor Total:</dt>
                                    <dd class="text-right  h5" data-valor="<%=carrinho.precoTotal%>" id="valorTotal">
                                        <strong>
                                            <%=carrinho.precoTotal.toLocaleString('pt-br',{style: 'currency' ,
                                                currency: 'BRL' })%>
                                        </strong>
                                    </dd>
                                </dl>
                                <hr>
                                <a href="/carrinho/finalizarCompra" onclick="finalizaCompra(event)"
                                    class="btn btn-primary form-control">Realizar
                                    Compra</a>
                                <hr>
                                <p class="text-center mb-3">
                                    <img src="/img/payments.png" height="26">
                                </p>

                            </div> <!-- card-body.// -->
                        </div> <!-- card .// -->
                    </aside> <!-- col.// -->
                </div>

            </div> <!-- container .//  -->
        </section>

        <%- include("./../partials/footer.ejs")%>
            <script src="/js/carrinho.js"></script>
            <script src="/js/pesquisaCep.js"></script>

            <script>
                function finalizaCompra(event) {
                    event.preventDefault();

                    var cep = document.getElementById('cep')
                    var cidade = document.getElementById('cidade')
                    var numero = document.getElementById("numero")
                    var rua = document.getElementById("rua")
                    var bairro = document.getElementById("bairro")
                    var uf = document.getElementById("uf")
                    var enderecoValidado = document.getElementById('enderecoValidado')

                    if (cep.value == '' || cidade.value == '' || numero.value == '' || rua.value == '' || bairro.value == '' || uf.value == '' || enderecoValidado.value == 'false') {
                        alert("Informações referente a entrega estão incompletas ou inválidas")

                        if (numero.value == '') {
                            numero.classList.add("is-invalid")
                            numero.classList.remove("is-valid")
                        } else {
                            numero.classList.add("is-valid")
                            numero.classList.remove("is-invalid")
                        }
                    } else {
                        numero.classList.add("is-valid")
                        numero.classList.remove("is-invalid")

                        axios.post("https://ecomerce-front.herokuapp.com/entrega/adicionar",{cep:cep.value,cidade:cidade.value,numero:numero.value,rua:rua.value,bairro:bairro.value,uf:uf.value}).then(()=>{
                            alert("Deu certo")
                            window.location.href = '/carrinho/finalizarCompra'
                        }).catch(err =>{
                            console.log(err)
                        })
                    }
                }
            </script>
            <script>
                function verificaCidade() {

                    var toastLiveExample = document.getElementById('liveToast')
                    var toast = new bootstrap.Toast(toastLiveExample)
                    toast.show()

                    var respostaEntrega = document.getElementById("toastMsm")

                    respostaEntrega.innerHTML = ['<div class="spinner-border" role="status"><span class="sr-only"></span></div>'].join('');

                    var cidadesEntrega = ['teresina', 'Timon']


                    setTimeout(async () => {
                        var cidade = document.getElementById("cidade").value
                        console.log(cidade)
                        if (cidade == '') {
                            cidade = 'local informado'
                        } else {
                            var cidade = document.getElementById("cidade").value

                        }
                        var entrega = await cidadesEntrega.find(cidadeEntrega => cidadeEntrega.toLowerCase() == cidade.toLowerCase())
                        if (entrega != undefined) {
                            respostaEntrega.innerHTML = ''
                            respostaEntrega.innerHTML = `Entrega para ${cidade} disponivel!`
                            respostaEntrega.classList.add("bg-success")
                            respostaEntrega.classList.remove("bg-danger")
                            respostaEntrega.classList.add("text-white")

                        } else {
                            respostaEntrega.innerHTML = ''
                            respostaEntrega.innerHTML = `Entrega para ${cidade} indisponivel!`
                            respostaEntrega.classList.add("bg-danger")
                            respostaEntrega.classList.remove("bg-success")
                            respostaEntrega.classList.add("text-white")
                        }
                    }, 3000)
                }
            </script>
            <script>
                function atualizar(index, codItem) {
                    var btn = `btnValor${index}`
                    var novaQuantidade = document.getElementById(btn).value
                    var codItem = codItem
                    axios.post("https://ecomerce-front.herokuapp.com/carrinho/alterarValores", { novaQuantidade: novaQuantidade, codItem: codItem }).then(resp => {
                        if (resp.data.erro !== undefined) {
                            alert("Ocorreu um erro ao atualizar: " + resp.data.erro)
                        } else {
                            alert(resp.data.resp)
                        }
                    }).catch(err => {
                        console.log(err)
                    })
                }
            </script>