<%- include("./partials/head.ejs")%>

    <%- include("./partials/nav.ejs")%>
    <!-- Navegador do site para levar a algumas paginas-->
        <div id="navegador" style="background: #061c30;">
            <div class="container" style="background: #061c30;">
                <ul class="nav justify-content-between" style="background-color: #041a2fe6; padding-right: 30px;padding-left: 30px;border: none;padding-bottom: 4px; padding-top: 10px;">
                <!-- Lista as categorias principais do site -->
                    <li class="nav-item dropdown">
                        <div class="input-group" data-bs-toggle="dropdown">
                            <img src="/img/list.png" class="img-fluid mt-md-1" width="30px" height="30px">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                aria-expanded="false">Categorias</a>
                        </div>
                        <ul class="dropdown-menu">
                            <%categorias.forEach(categoria=>{%>
                                <%if(categoria.destaque==true){%>
                                    <li><a class="dropdown-item text-white" href="/categoria/<%=categoria.id%>">
                                            <%=categoria.titulo%>
                                        </a></li>
                                    <%}%>
                                        <%})%>
                        </ul>
                    </li>
                <!-- fim da listagem das categorias principais do site -->

                <!-- Opção para levar a aba de ofertas semanais -->
                    <li class="nav-item">
                        <div class="input-group">
                            <img src="/img/oferta.png" class="img-fluid mt-md-1" width="30px" height="30px">
                            <a class="nav-link text-white" href="#">Ofertas</a>
                        </div>
                    </li>
                <!-- Fim da opção para levar a aba de ofertas semanais -->

                <!-- Demonstra historico de compra do cliente -->
                    <li class="nav-item">
                        <div class="input-group">
                            <img src="/img/historico.png" class="img-fluid mt-md-1" width="30px" height="30px">
                            <a class="nav-link text-white" href="/usuario/historico/">Historico de Compra</a>
                        </div>
                    </li>
                <!--Fim historico de compra do cliente -->

                <!-- Leva ao carrinho do cliente -->
                    <li class="nav-item">
                        <div class="input-group">
                            <img src="/img/carrinho.png" class="img-fluid mt-md-1" width="30px" height="30px">
                            <a class="nav-link text-white" href="/carrinho/caixa">Carrinho</a>
                        </div>
                <!-- fim carrinho do cliente -->

                <!--Lista os canais de atendimento ao cliente -->
                    </li>
                    <li class="nav-item">
                        <div class="input-group">
                            <img src="/img/central.png" class="img-fluid mt-md-1" width="30px" height="30px">
                            <a class="nav-link text-white" href="#">Central de Atendimento</a>
                        </div>
                    </li>
                </ul>
                <!--Fim da Lista os canais de atendimento ao cliente -->

            </div>
        </div>

        <!-- banners -->
        <div class="container">
            <div id="carouselExampleSlidesOnly" class="carousel slide d-block" data-bs-ride="carousel">
                <div class="carousel-inner mt-3">
                    <%banners.forEach((banner,index)=>{%>
                        <%if(index == 0){%>
                    <div class="carousel-item active">
                        <img src="<%=banner.img%>" class="d-block w-100" data-bs-interval="2000">
                        <!-- width="1340" height="400" -->
                    </div>
                        <%}%>
                    <div class="carousel-item">
                        <img src="<%=banner.img%>" class="d-block w-100" data-bs-interval="2000">
                    </div>
                   <%})%>
                </div>
            </div>
            <!-- banners -->

            <br>
            <!-- BOX PARA INFORMAR OS ATRIBUTOS DA EMPRESA -->
            <div class="row mt-3">
                <div class="col-md-4 text-center text-md-start efeito" style="
                box-shadow: -7px 0px 1em 1px #72757773;
                /* margin-block: 10px; */
                padding: 10px;">
                    <figure class="itemside">
                        <div class="aside text-center">
                            <span class="icon-sm">
                                <svg id="Capa_1" enable-background="new 0 0 512 512" height="70" viewBox="0 0 512 512"
                                    width="70" xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <g>
                                            <g>
                                                <path
                                                    d="m170.794 396.413h-130.96c-16.477 0-29.834-13.357-29.834-29.834v-221.158c0-16.477 13.357-29.834 29.834-29.834h352.332c16.477 0 29.834 13.357 29.834 29.834v221.157c0 16.477-13.357 29.834-29.834 29.834h-130.959"
                                                    fill="#b8ecbc" />
                                            </g>
                                            <path
                                                d="m322.506 239.593h55.494v-24.857c-30.458 0-55.149-24.691-55.149-55.149h-213.702c0 30.458-24.691 55.149-55.149 55.149v82.527c30.458 0 55.149 24.691 55.149 55.149h213.357z"
                                                fill="#a0e5a5" />
                                            <g>
                                                <circle cx="216" cy="256" fill="#faf7f5" r="57.447" />
                                            </g>
                                            <g>
                                                <path d="m322.506 344.139h179.494v52.273h-179.494z" fill="#fff2a0" />
                                                <path d="m322.506 291.866h179.494v52.273h-179.494z" fill="#fff7bf" />
                                                <g>
                                                    <path d="m322.506 239.593h179.494v52.273h-179.494z"
                                                        fill="#fff2a0" />
                                                </g>
                                            </g>
                                        </g>
                                        <g>
                                            <path
                                                d="m216.18 406.41c-4.175 0-7.985-2.693-9.402-6.615-1.416-3.919-.174-8.472 3.059-11.113 3.335-2.725 8.143-2.983 11.765-.671 3.39 2.164 5.172 6.327 4.408 10.274-.903 4.658-5.081 8.125-9.83 8.125z" />
                                            <path
                                                d="m502 229.593h-70v-84.171c0-21.965-17.87-39.835-39.834-39.835h-352.332c-21.964 0-39.834 17.87-39.834 39.835v221.157c0 21.965 17.87 39.834 39.834 39.834h130.96c5.523 0 10-4.478 10-10s-4.477-10-10-10h-130.96c-10.937 0-19.834-8.897-19.834-19.834v-221.157c0-10.938 8.897-19.835 19.834-19.835h352.332c10.937 0 19.834 8.898 19.834 19.835v84.171h-24v-14.857c0-5.522-4.477-10-10-10-24.895 0-45.149-20.254-45.149-45.149 0-5.522-4.477-10-10-10h-213.702c-5.523 0-10 4.478-10 10 0 24.896-20.254 45.149-45.149 45.149-5.523 0-10 4.478-10 10v82.527c0 5.522 4.477 10 10 10 24.895 0 45.149 20.254 45.149 45.149 0 5.522 4.477 10 10 10h203.357v24h-51.3c-5.523 0-10 4.478-10 10s4.477 10 10 10h240.794c5.523 0 10-4.478 10-10v-156.82c0-5.522-4.477-9.999-10-9.999zm-169.494 72.273h159.494v32.273h-159.494zm159.494-20h-159.494v-32.273h159.494zm-428 6.164v-64.06c27.93-4.321 50.061-26.452 54.383-54.383h195.234c4.322 27.931 26.453 50.062 54.383 54.383v5.623h-45.494c-5.523 0-10 4.477-10 10v102.82h-194.123c-4.322-27.931-26.453-50.061-54.383-54.383zm428 98.383h-159.494v-32.273h159.494z" />
                                            <path
                                                d="m216 323.447c-37.19 0-67.447-30.257-67.447-67.447s30.257-67.447 67.447-67.447 67.447 30.257 67.447 67.447-30.257 67.447-67.447 67.447zm0-114.894c-26.162 0-47.447 21.285-47.447 47.447s21.285 47.447 47.447 47.447 47.447-21.285 47.447-47.447-21.285-47.447-47.447-47.447z" />
                                        </g>
                                    </g>
                                </svg>
                            </span>
                        </div>
                        <figcaption class="info text-center">
                            <h5 class="title text-uppercase" style="border-bottom: 7px double #a0e5a5;padding-bottom: 10px;">Melhores Preços</h5>
                            <p class="text-muted text-white">Encontre aqui o melhor preço do mercado! Preços que
                                cabem no seu bolso e com descontos imprerdíveis</p>
                        </figcaption>
                    </figure>
                    <!-- iconbox // -->
                </div>
                <!-- col // -->
                <div class="col-md-4 text-center text-md-start efeito" style="
                box-shadow: 0 0 1em 1px #72757773;
                /* margin-block: 10px; */
                padding: 10px; ">
                    <figure class="itemside" style="
                    margin: 5px; ">
                        <div class="aside text-center">
                            <span class="icon-sm">
                                <svg height="70" viewBox="0 -15 512 512" width="70" xmlns="http://www.w3.org/2000/svg">
                                    <path d="m206.964844 406.355469h98.070312v54.226562h-98.070312zm0 0"
                                        fill="#2c6a9b" />
                                    <path d="m206.96875 406.355469h98.0625v16.878906h-98.0625zm0 0" fill="#1a5a84" />
                                    <path
                                        d="m351.335938 473.945312h-190.671876c-4.996093 0-9.042968-4.046874-9.042968-9.039062 0-4.996094 4.046875-9.042969 9.042968-9.042969h190.671876c4.996093 0 9.042968 4.046875 9.042968 9.042969 0 4.992188-4.046875 9.039062-9.042968 9.039062zm0 0"
                                        fill="#dceeef" />
                                    <path
                                        d="m504.5 76.964844v322.070312c0 5.640625-4.570312 10.199219-10.210938 10.199219h-476.578124c-5.640626 0-10.210938-4.558594-10.210938-10.199219v-322.070312c0-8.449219 6.859375-15.300782 15.308594-15.300782h466.382812c8.457032 0 15.308594 6.851563 15.308594 15.300782zm0 0"
                                        fill="#dceeef" />
                                    <path
                                        d="m504.5 76.964844v322.070312c0 5.640625-4.570312 10.199219-10.210938 10.199219h-22.199218c5.640625 0 10.210937-4.558594 10.210937-10.199219v-322.070312c0-8.4375-6.859375-15.300782-15.3125-15.300782h22.203125c8.457032 0 15.308594 6.851563 15.308594 15.300782zm0 0"
                                        fill="#bcdde2" />
                                    <path
                                        d="m504.5 360.296875v38.738281c0 5.640625-4.570312 10.199219-10.199219 10.199219h-476.601562c-5.628907 0-10.199219-4.558594-10.199219-10.199219v-38.738281zm0 0"
                                        fill="#3b7ca8" />
                                    <path
                                        d="m504.5 360.296875v38.738281c0 5.640625-4.570312 10.199219-10.199219 10.199219h-22.210937c5.640625 0 10.210937-4.558594 10.210937-10.199219v-38.738281zm0 0"
                                        fill="#2c6a9b" />
                                    <path
                                        d="m504.5 76.964844v21.839844h-497v-21.839844c0-8.453125 6.859375-15.300782 15.308594-15.300782h466.382812c8.457032 0 15.308594 6.847657 15.308594 15.300782zm0 0"
                                        fill="#8bc1c6" />
                                    <path
                                        d="m223.949219 360.300781h-156.683594v-56.253906c0-5.523437 4.476563-10 10-10h136.683594c5.523437 0 10 4.476563 10 10zm0 0"
                                        fill="#40e464" />
                                    <path
                                        d="m67.265625 41.5625v130.527344c0 5.519531 4.476563 10 10 10h100.378906l29.234375 29.230468c6.296875 6.300782 17.070313 1.839844 17.070313-7.070312v-162.6875c0-5.523438-4.476563-10-10-10h-136.683594c-5.523437 0-10 4.476562-10 10zm0 0"
                                        fill="#40e464" />
                                    <path
                                        d="m445.628906 180.867188v92.597656c0 5.523437-4.476562 10-10 10h-100.375l-29.234375 29.234375c-6.300781 6.300781-17.074219 1.839843-17.074219-7.070313v-124.761718c0-5.523438 4.480469-10 10-10h136.683594c5.523438 0 10 4.476562 10 10zm0 0"
                                        fill="#3bc3ff" />
                                    <path
                                        d="m489.191406 54.164062h-257.742187v-12.601562c0-9.648438-7.851563-17.5-17.5-17.5h-136.683594c-9.648437 0-17.5 7.851562-17.5 17.5v12.601562h-36.957031c-12.578125 0-22.808594 10.230469-22.808594 22.800782v94.980468c0 4.144532 3.359375 7.5 7.5 7.5s7.5-3.355468 7.5-7.5v-65.644531h44.765625v65.785157c0 9.648437 7.851563 17.5 17.5 17.5h97.269531l27.039063 27.039062c3.355469 3.355469 7.8125 5.132812 12.355469 5.132812 2.257812 0 4.539062-.4375 6.714843-1.339843 6.5625-2.71875 10.804688-9.0625 10.804688-16.167969v-47.640625c0-4.144531-3.359375-7.5-7.5-7.5-4.144531 0-7.5 3.355469-7.5 7.5v47.640625c0 1.453125-.96875 2.070312-1.542969 2.308594-.578125.242187-1.695312.488281-2.726562-.539063l-29.234376-29.234375c-1.40625-1.40625-3.3125-2.195312-5.300781-2.195312h-100.378906c-1.378906 0-2.5-1.121094-2.5-2.5v-130.527344c0-1.378906 1.121094-2.5 2.5-2.5h136.683594c1.378906 0 2.5 1.121094 2.5 2.5v82.386719c0 4.144531 3.359375 7.5 7.5 7.5s7.5-3.355469 7.5-7.5v-17.644531h265.550781v246.496093h-265.550781v-48.753906c0-9.648437-7.851563-17.5-17.5-17.5h-136.683594c-9.648437 0-17.5 7.851563-17.5 17.5v48.753906h-44.765625v-148.191406c0-4.144531-3.359375-7.5-7.5-7.5s-7.5 3.355469-7.5 7.5v194.425781c0 9.761719 7.945312 17.699219 17.710938 17.699219h181.757812v31.628906h-38.804688c-9.121093 0-16.542968 7.421875-16.542968 16.542969s7.421875 16.542969 16.542968 16.542969h190.671876c9.121093 0 16.542968-7.421875 16.542968-16.542969s-7.421875-16.542969-16.542968-16.542969h-38.804688v-31.628906h61.273438c4.144531 0 7.5-3.355469 7.5-7.5 0-4.140625-3.355469-7.5-7.5-7.5h-356.09375c-1.496094 0-2.710938-1.210937-2.710938-2.699219v-31.234375h482v31.234375c0 1.488282-1.214844 2.699219-2.710938 2.699219h-87.820312c-4.144531 0-7.5 3.359375-7.5 7.5 0 4.144531 3.355469 7.5 7.5 7.5h87.820312c9.765626 0 17.710938-7.9375 17.710938-17.699219v-322.070312c0-12.570313-10.230469-22.800782-22.808594-22.800782zm-474.191406 37.140626v-14.339844c0-4.300782 3.503906-7.800782 7.808594-7.800782h36.957031v22.140626zm337.878906 373.601562c0 .851562-.691406 1.542969-1.542968 1.542969h-190.671876c-.851562 0-1.542968-.691407-1.542968-1.542969s.691406-1.542969 1.542968-1.542969h190.671876c.851562 0 1.542968.691407 1.542968 1.542969zm-55.347656-16.542969h-83.0625v-31.628906h83.0625zm-222.765625-144.316406c0-1.382813 1.121094-2.5 2.5-2.5h136.683594c1.378906 0 2.5 1.117187 2.5 2.5v48.753906h-141.683594zm156.683594-212.742187v-22.140626h257.742187c4.304688 0 7.808594 3.5 7.808594 7.800782v14.339844zm0 0" />
                                    <path
                                        d="m281.445312 180.867188v124.761718c0 7.105469 4.242188 13.449219 10.804688 16.167969 2.179688.902344 4.457031 1.339844 6.714844 1.339844 4.542968 0 9-1.777344 12.355468-5.132813l27.039063-27.035156h97.269531c9.648438 0 17.5-7.851562 17.5-17.5v-92.601562c0-9.648438-7.851562-17.5-17.5-17.5h-136.683594c-9.648437 0-17.5 7.851562-17.5 17.5zm156.683594 0v92.601562c0 1.378906-1.121094 2.5-2.5 2.5h-100.375c-1.992187 0-3.898437.789062-5.304687 2.195312l-29.234375 29.230469c-1.027344 1.03125-2.148438.78125-2.726563.542969-.574219-.238281-1.542969-.855469-1.542969-2.308594v-124.761718c0-1.378907 1.125-2.5 2.5-2.5h136.683594c1.378906 0 2.5 1.121093 2.5 2.5zm0 0" />
                                    <path
                                        d="m409.785156 145.484375v-.503906c0-4.144531-3.359375-7.5-7.5-7.5s-7.5 3.355469-7.5 7.5v.503906c0 4.144531 3.359375 7.5 7.5 7.5s7.5-3.355469 7.5-7.5zm0 0" />
                                    <path
                                        d="m445.628906 153.089844c4.144532 0 7.5-3.359375 7.5-7.5 0-4.144532-3.355468-7.5-7.5-7.5h-21.304687c-4.140625 0-7.5 3.355468-7.5 7.5 0 4.140625 3.359375 7.5 7.5 7.5zm0 0" />
                                    <path
                                        d="m149.714844 15.507812c4.140625 0 7.5-3.359374 7.5-7.5v-.507812c0-4.144531-3.359375-7.5-7.5-7.5s-7.5 3.355469-7.5 7.5v.507812c0 4.140626 3.359375 7.5 7.5 7.5zm0 0" />
                                    <path
                                        d="m66.371094 15.609375h61.304687c4.140625 0 7.5-3.355469 7.5-7.5 0-4.140625-3.359375-7.5-7.5-7.5h-61.304687c-4.144532 0-7.5 3.359375-7.5 7.5 0 4.144531 3.355468 7.5 7.5 7.5zm0 0" />
                                    <path
                                        d="m157.214844 269.550781v-.507812c0-4.140625-3.359375-7.5-7.5-7.5s-7.5 3.359375-7.5 7.5v.507812c0 4.140625 3.359375 7.5 7.5 7.5s7.5-3.359375 7.5-7.5zm0 0" />
                                    <path
                                        d="m66.371094 277.152344h61.304687c4.140625 0 7.5-3.355469 7.5-7.5 0-4.140625-3.359375-7.5-7.5-7.5h-61.304687c-4.144532 0-7.5 3.359375-7.5 7.5 0 4.144531 3.355468 7.5 7.5 7.5zm0 0" />
                                    <path
                                        d="m321.765625 210.90625h.457031c4.144532 0 7.5-3.355469 7.5-7.5 0-4.140625-3.355468-7.5-7.5-7.5h-.457031c-4.140625 0-7.5 3.359375-7.5 7.5 0 4.144531 3.359375 7.5 7.5 7.5zm0 0" />
                                    <path
                                        d="m345.996094 210.679688h66.902344c4.144531 0 7.5-3.359376 7.5-7.5 0-4.144532-3.355469-7.5-7.5-7.5h-66.90625c-4.140626 0-7.5 3.355468-7.5 7.5 0 4.140624 3.359374 7.5 7.503906 7.5zm0 0" />
                                    <path
                                        d="m321.765625 256.058594h.457031c4.144532 0 7.5-3.355469 7.5-7.5 0-4.140625-3.355468-7.5-7.5-7.5h-.457031c-4.140625 0-7.5 3.359375-7.5 7.5 0 4.144531 3.359375 7.5 7.5 7.5zm0 0" />
                                    <path
                                        d="m412.898438 240.828125h-66.90625c-4.140626 0-7.5 3.359375-7.5 7.5 0 4.144531 3.359374 7.5 7.5 7.5h66.90625c4.144531 0 7.5-3.355469 7.5-7.5 0-4.140625-3.355469-7.5-7.5-7.5zm0 0" />
                                    <path
                                        d="m412.898438 218.496094h-.457032c-4.140625 0-7.5 3.355468-7.5 7.5 0 4.140625 3.359375 7.5 7.5 7.5h.457032c4.144531 0 7.5-3.359375 7.5-7.5 0-4.144532-3.355469-7.5-7.5-7.5zm0 0" />
                                    <path
                                        d="m321.765625 233.265625h66.90625c4.140625 0 7.5-3.355469 7.5-7.5s-3.359375-7.5-7.5-7.5h-66.90625c-4.140625 0-7.5 3.355469-7.5 7.5s3.359375 7.5 7.5 7.5zm0 0" />
                                    <path
                                        d="m99.023438 69.382812h.457031c4.140625 0 7.5-3.355468 7.5-7.5 0-4.144531-3.359375-7.5-7.5-7.5h-.457031c-4.144532 0-7.5 3.355469-7.5 7.5 0 4.144532 3.355468 7.5 7.5 7.5zm0 0" />
                                    <path
                                        d="m190.15625 54.164062h-66.90625c-4.140625 0-7.5 3.355469-7.5 7.5 0 4.140626 3.359375 7.5 7.5 7.5h66.90625c4.144531 0 7.5-3.359374 7.5-7.5 0-4.144531-3.355469-7.5-7.5-7.5zm0 0" />
                                    <path
                                        d="m190.15625 97.535156h-90.675781c-4.140625 0-7.5 3.355469-7.5 7.5 0 4.140625 3.359375 7.5 7.5 7.5h90.675781c4.144531 0 7.5-3.359375 7.5-7.5 0-4.144531-3.355469-7.5-7.5-7.5zm0 0" />
                                    <path
                                        d="m99.023438 90.859375h90.90625c4.140624 0 7.5-3.355469 7.5-7.5s-3.359376-7.5-7.5-7.5h-90.90625c-4.144532 0-7.5 3.355469-7.5 7.5s3.355468 7.5 7.5 7.5zm0 0" />
                                    <path
                                        d="m99.023438 141.574219c-4.144532 0-7.5 3.355469-7.5 7.5 0 4.140625 3.355468 7.5 7.5 7.5h.457031c4.140625 0 7.5-3.359375 7.5-7.5 0-4.144531-3.359375-7.5-7.5-7.5zm0 0" />
                                    <path
                                        d="m123.25 156.351562h66.90625c4.144531 0 7.5-3.355468 7.5-7.5 0-4.140624-3.355469-7.5-7.5-7.5h-66.90625c-4.140625 0-7.5 3.359376-7.5 7.5 0 4.144532 3.359375 7.5 7.5 7.5zm0 0" />
                                    <path
                                        d="m190.15625 119.898438h-.457031c-4.140625 0-7.5 3.359374-7.5 7.5 0 4.144531 3.359375 7.5 7.5 7.5h.457031c4.144531 0 7.5-3.355469 7.5-7.5 0-4.140626-3.355469-7.5-7.5-7.5zm0 0" />
                                    <path
                                        d="m173.429688 127.179688c0-4.144532-3.359376-7.5-7.5-7.5h-66.90625c-4.144532 0-7.5 3.355468-7.5 7.5 0 4.140624 3.355468 7.5 7.5 7.5h66.90625c4.140624 0 7.5-3.359376 7.5-7.5zm0 0" />
                                    <path
                                        d="m99.480469 323.855469h-.457031c-4.144532 0-7.5 3.355469-7.5 7.5 0 4.140625 3.355468 7.5 7.5 7.5h.457031c4.140625 0 7.5-3.359375 7.5-7.5 0-4.144531-3.359375-7.5-7.5-7.5zm0 0" />
                                    <path
                                        d="m190.15625 323.632812h-66.90625c-4.140625 0-7.5 3.355469-7.5 7.5 0 4.144532 3.359375 7.5 7.5 7.5h66.90625c4.144531 0 7.5-3.355468 7.5-7.5 0-4.144531-3.355469-7.5-7.5-7.5zm0 0" />
                                </svg>
                            </span>
                        </div>
                        <figcaption class="info text-center">
                            <h5 class="title text-uppercase" style="
                            border-bottom: 7px double #a0e5a5;
                            padding-bottom: 10px;
                        ">Canais de Atendimento</h5>
                            <p class="text-muted">Caso desejar pode entrar em contato em nossa central de
                                atendimento ao cliente. No canto inferior do site você vai ver um caixa de texto
                                onde pode ser atendido</p>
                        </figcaption>
                    </figure>
                    <!-- iconbox // -->
                </div>
                <!-- col // -->
                <div class="col-md-4 text-center text-md-start efeito" style="
                box-shadow: 0 0 1em 1px #72757773;
                /* margin-block: 10px; */
                padding: 10px;
            ">
                    <figure class="itemside" style="
                    margin: 5px; ">
                        <div class="aside text-center">
                            <span class="icon-sm rounded-circle bg-success">
                                <svg id="Layer_1" enable-background="new 0 0 256 256" height="70" viewBox="0 0 256 256"
                                    width="70" xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <circle cx="203.996" cy="219.267" fill="#9e9e9e" r="15.372" />
                                        <g>
                                            <path
                                                d="m203.996 203.894c-1.85 0-3.615.344-5.257.942 5.896 2.15 10.115 7.79 10.115 14.43s-4.218 12.28-10.115 14.43c1.642.599 3.408.942 5.257.942 8.49 0 15.372-6.882 15.372-15.372.001-8.489-6.882-15.372-15.372-15.372z"
                                                fill="#cecece" />
                                        </g>
                                        <path d="m68.983 93.472h163.901v55.7l-138.075 24.713z" fill="#63bce7" />
                                        <g>
                                            <path d="m232.884 93.472h-10.515v57.582l10.515-1.882z" fill="#67dceb" />
                                        </g>
                                        <g>
                                            <path d="m68.983 93.472 25.826 80.413 9.943-1.78-25.254-78.633z"
                                                fill="#6377e7" />
                                        </g>
                                        <circle cx="109.746" cy="219.267" fill="#9e9e9e" r="15.372" />
                                        <g>
                                            <path
                                                d="m104.888 219.267c0-6.64 4.218-12.28 10.115-14.43-1.643-.599-3.408-.942-5.258-.942-8.49 0-15.372 6.883-15.372 15.372 0 8.49 6.882 15.372 15.372 15.372 1.85 0 3.615-.344 5.258-.942-5.896-2.15-10.115-7.79-10.115-14.43z"
                                                fill="#707070" />
                                        </g>
                                        <path d="m106.385 34.774h89.097v58.698h-89.097z" fill="#f46275" />
                                        <g>
                                            <path d="m184.967 34.774h10.515v58.698h-10.515z" fill="#f48875" />
                                        </g>
                                        <g>
                                            <path d="m106.385 34.774h10.515v58.698h-10.515z" fill="#f43075" />
                                        </g>
                                        <path
                                            d="m157.41 13.599 8.259-3.397c5.141-2.115 10.783 1.665 10.783 7.224v3.528h-25.518v-5.063z"
                                            fill="#f8af23" />
                                        <g fill="#f8af23">
                                            <path d="m174.84 34.774h9.138v58.698h-9.138z" />
                                            <path d="m117.889 34.774h9.138v58.698h-9.138z" />
                                        </g>
                                        <path
                                            d="m194.914 34.774h-87.96c-2.761 0-5-2.239-5-5v-3.819c0-2.761 2.239-5 5-5h87.96c2.761 0 5 2.239 5 5v3.819c0 2.761-2.239 5-5 5z"
                                            fill="#63bce7" />
                                        <g>
                                            <path
                                                d="m194.914 20.954h-10.515c2.761 0 5 2.239 5 5v3.819c0 2.761-2.239 5-5 5h10.515c2.761 0 5-2.239 5-5v-3.819c0-2.761-2.239-5-5-5z"
                                                fill="#67dceb" />
                                        </g>
                                        <g>
                                            <path
                                                d="m112.468 29.774v-3.819c0-2.761 2.239-5 5-5h-10.515c-2.761 0-5 2.239-5 5v3.819c0 2.761 2.239 5 5 5h10.515c-2.761 0-5-2.239-5-5z"
                                                fill="#6377e7" />
                                        </g>
                                        <path
                                            d="m144.457 13.599-8.259-3.397c-5.141-2.115-10.783 1.665-10.783 7.224v3.528h25.518v-5.063z"
                                            fill="#f8af23" />
                                        <g>
                                            <path
                                                d="m138.898 11.313-2.7-1.111c-5.141-2.115-10.783 1.665-10.783 7.224v3.528h10.515v-3.528c.001-2.546 1.191-4.709 2.968-6.113z"
                                                fill="#f87023" />
                                        </g>
                                        <g>
                                            <path
                                                d="m162.969 11.313 2.7-1.111c5.141-2.115 10.783 1.665 10.783 7.224v3.528h-10.515v-3.528c-.001-2.546-1.191-4.709-2.968-6.113z"
                                                fill="#f8d323" />
                                        </g>
                                        <path
                                            d="m152.933 10.829h-3.998c-2.462 0-4.477 2.015-4.477 4.477v1.171c0 2.462 2.015 4.477 4.477 4.477h3.998c2.462 0 4.477-2.015 4.477-4.477v-1.171c0-2.462-2.015-4.477-4.477-4.477z"
                                            fill="#63bce7" />
                                        <path
                                            d="m49.734 72.52h-19.604c-3.363 0-6.114-2.751-6.114-6.114 0-3.363 2.751-6.114 6.114-6.114h19.605c3.363 0 6.114 2.751 6.114 6.114 0 3.363-2.752 6.114-6.115 6.114z"
                                            fill="#9e9e9e" />
                                        <g>
                                            <path
                                                d="m34.53 66.406c0-3.363 2.751-6.114 6.114-6.114h-10.514c-3.363 0-6.114 2.751-6.114 6.114s2.751 6.114 6.114 6.114h10.515c-3.363 0-6.115-2.751-6.115-6.114z"
                                                fill="#707070" />
                                        </g>
                                        <g fill="#3f3679">
                                            <path
                                                d="m25.89 244.893h-18.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5h18.5c.828 0 1.5-.671 1.5-1.5s-.672-1.5-1.5-1.5z" />
                                            <path
                                                d="m248.61 244.893h-18.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5h18.5c.828 0 1.5-.671 1.5-1.5s-.672-1.5-1.5-1.5z" />
                                            <path
                                                d="m215.337 244.893h-174.674c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5h174.674c.828 0 1.5-.671 1.5-1.5s-.672-1.5-1.5-1.5z" />
                                            <path
                                                d="m7.39 236.139h7.943c.828 0 1.5-.671 1.5-1.5s-.672-1.5-1.5-1.5h-7.943c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5z" />
                                            <path
                                                d="m240.667 236.139h7.943c.828 0 1.5-.671 1.5-1.5s-.672-1.5-1.5-1.5h-7.943c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5z" />
                                            <path
                                                d="m183.979 29.364h7.873c.828 0 1.5-.671 1.5-1.5s-.672-1.5-1.5-1.5h-7.873c-.828 0-1.5.671-1.5 1.5s.671 1.5 1.5 1.5z" />
                                            <path
                                                d="m23.116 130.674h56.24l3.357 10.451h-25.889c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5h26.852l3.357 10.451h-50.084c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5h51c.016 0 .03-.004.045-.005l4.975 15.49c-3.952 1.917-15.351 8.767-15.351 23.967v6.867c0 .829.672 1.5 1.5 1.5h21.046c-4.4 3.048-7.292 8.126-7.292 13.872s2.892 10.824 7.292 13.873h-74.274c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5h204.22c.828 0 1.5-.671 1.5-1.5s-.672-1.5-1.5-1.5h-16.534c4.4-3.048 7.293-8.126 7.293-13.873 0-5.746-2.892-10.824-7.293-13.872h19.307c.828 0 1.5-.671 1.5-1.5s-.672-1.5-1.5-1.5h-152.264v-5.367c0-15.603 13.15-21.132 14.59-21.691l137.939-24.688c.715-.128 1.235-.75 1.235-1.477v-55.7c0-.829-.672-1.5-1.5-1.5h-35.902v-56.041c2.572-.867 4.432-3.296 4.432-6.157v-3.819c0-3.584-2.916-6.5-6.5-6.5h-16.962v-2.028c0-3.112-1.544-6.004-4.129-7.736-2.584-1.731-5.847-2.058-8.724-.875l-7.317 3.01c-1.086-1.508-2.853-2.496-4.849-2.496h-3.998c-1.996 0-3.763.988-4.849 2.496l-7.317-3.01c-2.875-1.183-6.139-.856-8.725.875-2.585 1.732-4.129 4.624-4.129 7.736v2.028h-16.962c-3.584 0-6.5 2.916-6.5 6.5v3.819c0 2.86 1.86 5.29 4.432 6.157v56.041h-34.808l-8.358-26.024c-.199-.621-.776-1.042-1.428-1.042h-3.091c-.699-3.483-3.779-6.115-7.464-6.115h-19.605c-4.198 0-7.614 3.416-7.614 7.615s3.416 7.614 7.614 7.614h19.604c3.685 0 6.766-2.632 7.464-6.114h1.998l19.196 59.768h-55.276c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5zm72.757 88.593c0-7.649 6.223-13.872 13.872-13.872s13.873 6.223 13.873 13.872-6.224 13.873-13.873 13.873-13.872-6.224-13.872-13.873zm121.996 0c0 7.649-6.224 13.873-13.873 13.873s-13.872-6.223-13.872-13.873c0-7.649 6.223-13.872 13.872-13.872s13.873 6.223 13.873 13.872zm-23.453-13.872c-4.4 3.048-7.292 8.126-7.292 13.872s2.892 10.824 7.292 13.873h-75.09c4.4-3.048 7.293-8.126 7.293-13.873 0-5.746-2.892-10.824-7.293-13.872zm-144.682-134.374h-19.604c-2.544 0-4.614-2.07-4.614-4.614s2.07-4.615 4.614-4.615h19.604c2.544 0 4.614 2.07 4.614 4.615s-2.07 4.614-4.614 4.614zm69.655-34.747h6.139v55.698h-6.139zm53.951 0v55.698h-44.812v-55.698zm25.982 58.698v58.684l-37.113 6.643v-65.327h12.631 9.139 11.503zm-16.843-3h-6.139v-55.698h6.139zm-55.452 3h32.182v65.863l-37.112 6.642v-72.505zm104.357 52.945-29.062 5.201v-58.146h29.062zm-45.905-55.945v-55.698h8.503v55.698zm-19.24-80.383c1.981-.813 4.137-.599 5.913.593 1.778 1.191 2.799 3.103 2.799 5.244v2.028h-16.843c.507-.878.802-1.893.802-2.978v-1.17c0-.232-.017-.46-.042-.685zm-17.304.74h3.998c1.642 0 2.978 1.336 2.978 2.978v1.17c0 1.642-1.336 2.978-2.978 2.978h-1.999-1.999c-1.642 0-2.978-1.336-2.978-2.978v-1.17c0-1.642 1.336-2.978 2.978-2.978zm-22.02 5.097c0-2.141 1.021-4.052 2.799-5.244 1.778-1.191 3.933-1.408 5.914-.593l7.371 3.032c-.026.225-.042.453-.042.685v1.17c0 1.084.295 2.1.802 2.978h-16.844zm-23.462 12.348v-.41h71.387c.828 0 1.5-.671 1.5-1.5s-.672-1.5-1.5-1.5h-71.387v-.41c0-1.93 1.57-3.5 3.5-3.5h18.462 23.52 1.999 1.999 23.519 18.462c1.93 0 3.5 1.57 3.5 3.5v3.819c0 1.93-1.57 3.5-3.5 3.5h-10.935-9.139-47.812-9.139-10.936c-1.93.001-3.5-1.569-3.5-3.499zm4.432 6.5h8.504v55.698h-8.504zm-1.5 58.698h11.504 1.208v73.042l-23.26 4.163-24.796-77.205z" />
                                            <path
                                                d="m48.783 144.125c.828 0 1.5-.671 1.5-1.5s-.672-1.5-1.5-1.5h-14.167c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5z" />
                                            <path
                                                d="m23.116 157.576h7.667c.828 0 1.5-.671 1.5-1.5s-.672-1.5-1.5-1.5h-7.667c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5z" />
                                        </g>
                                    </g>
                                </svg>
                            </span>
                        </div>
                        <figcaption class="info text-center">
                            <h5 class="title text-uppercase" style="
                            border-bottom: 7px double #a0e5a5;
                            padding-bottom: 10px;">Rápida Entrega</h5>
                            <p class="text-muted">Nossa equipe trabalha de maneira eficaz para que a entrega seja
                                feita o mais rápido possível. Nosso foco é a satisfação do cliente em obter o
                                produto em mãos.</p>
                        </figcaption>
                    </figure>
                    <!-- iconbox // -->
                </div>
                <!-- col // -->
            </div>
            <!-- FIM BOX PARA INFORMAR OS ATRIBUTOS DA EMPRESA -->
            <br>

            <!-- LISTAGEM DOS PRODUTOS -->
            <div id="produtos">
                <h2 class="title text-center" style="
                background: #061d3014;
            ">Nossos produtos</h2>
                <h4 class="subtitle text-center mb-4" style="
                background: #dee1e333;">Veja abaixo nossos principais produtos!</h4>
                <div class="row">
                    <%produtos.forEach((produto,index)=>{%>
                        <%if(index < 12){%>
                            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                                <a href="/produto/<%=produto.id%>" class="destaque">
                                    <div class="img-container mb-3">
                                        <!-- Demonstra a imagem do produto -->
                                        <%var imagem=imagens.find(imagem=> imagem.produtoId == produto.id)%>
                                            <%if(imagem !=undefined){%>
                                                <img src="<%=imagem.imagem%>" class="" alt="">
                                                <%}else{%>
                                                    <img class="rounded mx-auto d-block" src="/img/null.png" width="220"
                                                        height="220">
                                                    <%}%>

                                    </div>
                                        <!-- Demonstra o nome do produto -->
                                    <h5 class="text-uppercase">
                                        <%=produto.nome%>
                                    </h5>
                                    <%precos.forEach(preco=> {%>
                                        <%if(preco.produtoId==produto.id){%>
                                        <!-- Demonstra o preço do produto e se tem desconto -->
                                            <span class="form-control text-white fw-bold bg-primary bg-gradient">
                                                <%if(preco.desconto> 0){%>
                                                    <s id="s" class="fs-6 text-danger">
                                                        <%=preco.venda.toLocaleString('pt-br',{style: 'currency' ,
                                                            currency: 'BRL' })%>
                                                    </s>
                                                    <strong id="strong" class="fs-4">
                                                        <%=preco.desconto.toLocaleString('pt-br',{style: 'currency' ,
                                                            currency: 'BRL' })%>
                                                    </strong>
                                                    <%}else{%>
                                                        <strong id="strong" class="fs-4">
                                                            <%=preco.venda.toLocaleString('pt-br',{style: 'currency' ,
                                                                currency: 'BRL' })%>
                                                        </strong>
                                                        <%}%>

                                            </span>
                                            <%}%>
                                                <%})%>
                                </a>
                            </div>
                            <%}%>
                                <%})%>
                </div>
            <!-- Fim da  LISTAGEM DOS PRODUTOS -->

            </div>

        </div>


        <%- include("./partials/footer.ejs")%>