<%- include("./../partials/head.ejs")%>


    <%- include("./../partials/nav.ejs")%>
        <div class="container">
            <article class="card">
                <div class="card-body">
                    <br>
                    <div class="row">
                        <aside class="col-md-6">
                            <div class="card">
                                <%imagens.forEach(imagem=>{%>
                                    <a href="#"> <img src="<%=imagem.imagem%>" height="300px" width="300px"></a>
                            </div> <!-- card img-big-wrap.// -->
                            <div class="thumbs-wrap">
                                <a href="#" class="item-thumb"> <img
                                        src="bootstrap-ecommerce-html/images/items/12-1.jpg"></a>
                                <a href="#" class="item-thumb"> <img
                                        src="bootstrap-ecommerce-html/images/items/12-2.jpg"></a>
                                <a href="#" class="item-thumb"> <img
                                        src="bootstrap-ecommerce-html/images/items/1.jpg"></a>
                                <a href="#" class="item-thumb"> <img
                                        src="bootstrap-ecommerce-html/images/items/5.jpg"></a>
                            </div> <!-- thumbs-wrap .// -->
                            <%})%>
                        </aside>
                        <main class="col-md-6">
                            <article>
                                <a href="#" class="text-primary btn-link">
                                    <%=categoria.titulo%>
                                </a>
                                <h3 class="title">
                                    <%=produto.nome%>
                                </h3>
                                <div>
                                    <ul class="rating-stars">
                                        <li style="width:60%" class="stars-active">
                                            <img src="bootstrap-ecommerce-html/images/icons/stars-active.svg" alt="">
                                        </li>
                                        <li>
                                            <img src="bootstrap-ecommerce-html/images/icons/starts-disable.svg" alt="">
                                        </li>
                                    </ul>
                                    <span class="label-rating mr-3 text-muted">7/10</span>
                                    <a href="#" class="btn-link  mr-3 text-muted"> <i class="fa fa-heart"></i> Save for
                                        later </a>
                                    <a href="#" class="btn-link text-muted"> <i class="fa fa-book-open"></i> Compare
                                    </a>
                                </div>

                                <hr>

                                <div class="mb-3">
                                    <h6>Short description</h6>
                                    <ul class="list-dots mb-0">
                                        <li>Made in Russia</li>
                                        <li>Wolf leather </li>
                                        <li>Rubber material bottom</li>
                                        <li>Dark blue color</li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <label class="text-muted">Available sizes</label>
                                    <div>
                                        <label class="js-check btn btn-check active">
                                            <input type="radio" name="option_size" value="option1" checked="">
                                            <span>Small</span>
                                        </label>
                                        <label class="js-check btn btn-check">
                                            <input type="radio" name="option_size" value="option1">
                                            <span>Medium</span>
                                        </label>
                                        <label class="js-check btn btn-check">
                                            <input type="radio" name="option_size" value="option1">
                                            <span>Large</span>
                                        </label>
                                        <label class="js-check btn btn-check disabled">
                                            <input type="radio" name="option_size" disabled="" value="option1">
                                            <span>Babies</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <var class="price h4">$230.00</var> <br>
                                    <span class="monthly">$32.00 / monthly <a href="#" class="btn-link">installment
                                        </a></span>
                                </div> <!-- price-detail-wrap .// -->

                                <div class="mb-4">
                                    <a href="#" class="btn btn-primary">Compre agora!</a>
                                    <a href="#" class="btn btn-light" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">Adicionar ao Carrinho</a>
                                </div>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Adicionar ao Carrinho</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="image" src="/img/avatar.jpg" alt="" height="300">
                                                    </div>
                                                    <div class="col-md-8"><h1>Nome do produto</h1></div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-primary">Salvar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article> <!-- product-info-aside .// -->
                        </main> <!-- col.// -->
                    </div> <!-- row.// -->
                </div> <!-- card-body.// -->
            </article>
        </div>

        <%- include("./../partials/footer.ejs")%>